* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

input {
  width: 100%;
  color: gray;
  font-size: 1.2rem;
}

.card-grid {
  display: flex;
  font-display: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10rem;
  margin-right: 1rem;
  overflow: hidden;
}

.card p {
  padding: 0.5rem;
  text-align: center;
}

.card img {
  min-height: 16rem;
}
